{% extends 'layout.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% block content %}
            <h1>What would you like to Smak {{ id }}?</h1>
            <hr />
            <div class="input-group">
	          <form name="myform" onSubmit="return false;">
	            <textarea type="input" placeholder="What would you like to SMAK?" id='box' name="smak" ></textarea>
	            <button class="btn btn-info" id='sub' type="submit">SMAK!!!</button>
	          </form>
        </div>
      </div>
            {% endblock %}
        </div>
    </div>
</div>
<hr>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% for s in smaks %}
				<pre><h3>{{s.id}}</h3><br/>{{s.smak}}</pre>
			{% endfor %}
		</div>
	</div>

</div>
{% endblock %}


{% block js %}
<script>

	document.getElementById("sub").addEventListener(
		'click',
		function(){
			smak(document.getElementById("box").value);
			document.getElementById("box").value = "";
		},
		false);
	function smak(text){

	  function reqListener () {
	    window.location.reload();
	    
	  }
	  var oReq = new XMLHttpRequest();
	  var post = {
	  	"id" : "{{id}}",
	  	"smak" : text
	  }

	  oReq.addEventListener("load", reqListener);

	  oReq.open("POST", "/smak", true);

	  oReq.onreadystatechange = function() {
	       if (oReq.readyState == 4 && oReq.status == 200) {
	          console.log('Ready')
	          //getMyList()
	       }
	    }
	    console.log(JSON.stringify(post))
	  oReq.send('smak=' + JSON.stringify(post))


	}
</script>
{% endblock %}
