<!DOCTYPE html>
<html>
<head>
    <title>Smik Smak</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <header class="text-center">
        <div class="bg-primary">
            <div class="container">
                <h3>Smik Smak</h3>
                <br>
            </div>
        </div>
        <nav>
            <br>
            
        <hr>
    </header>

    {% block body %}
    {% endblock %}

    <footer class="text-center">
        <hr>
        
    </footer>
    {% block js %}
    {% endblock %}
</body>
</html>
